// ===========================================================================
// #FONTS
// ===========================================================================
// Font mixins to use Source Sans.

@mixin source-sans-regular {
  font-family: $source-sans-stack;
  font-weight: 400;
  font-style: normal
}

@mixin source-sans-italic {
  font-family: $source-sans-stack;
  font-weight: 400;
  font-style: italic
}

@mixin source-sans-bold {
  font-family: $source-sans-stack;
  font-weight: 700;
  font-style: normal
}
