// ===========================================================================
// #COLORS
// ===========================================================================
// Color palette.

$ghost-white-color: #fafbfc;
$dark-slate-grey-color: #25292e;

$default-type-color: $dark-slate-grey-color;
$default-background-color: $ghost-white-color;
