// ===========================================================================
// #LINKS
// ===========================================================================
// Utility classes for styling links.


a.u-hidden-link {
  // undo default <a> style
  box-shadow: unset !important;
  border-bottom: unset !important;
  text-decoration: none;
}

a.u-hidden-link--no-hover {
  background: unset !important;
}
