<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>LSST Documentation Hub</title>
  {# <meta name="description" content="{{ config['page_description'] }}"> #}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
  <link rel="stylesheet" href="https://use.typekit.net/alj0azf.css">
</head>

<body class="wwwlsstio-page">

<h1>Hello world</h1>

<p>This is www.lsst.io.</p>

</body>

</html>
