<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>LSST Documentation Hub</title>
  {# <meta name="description" content="{{ config['page_description'] }}"> #}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
  <link rel="stylesheet" href="https://use.typekit.net/alj0azf.css">
</head>

<body class="wwwlsstio-page">
  <main class="o-wrapper">
    <h1>LSST Documentation Hub</h1>

    <p>The Documentation Hub is a service in preview by LSST SQuaRE. Updated on {{ date_updated }}.</p>

    <nav>
      <h2>On this page</h2>
      <ul>
        <li><a href="#dmtn">LSST Data Management Technical Notes (DMTN)</a></li>
        <li><a href="#dmtr">LSST Data Management Test Reports (DMTR)</a></li>
        <li><a href="#ittn">LSST IT Technical Notes (ITTN)</a></li>
        <li><a href="#ldm">LSST Data Management (LDM)</a></li>
        <li><a href="#lpm">LSST Project Management (LPM)</a></li>
        <li><a href="#lse">LSST Systems Engineering (LSE)</a></li>
        <li><a href="#opstn">LSST Operations Technical Notes (OPSTN)</a></li>
        <li><a href="#pstn">LSST Project Science Team Technical Notes (PSTN)</a></li>
        <li><a href="#smtn">LSST Simulations Technical Notes (SMTN)</a></li>
        <li><a href="#sitcomtn">LSST Systems Integrations, Testing, and Commissioning Technical Notes (SITCOMTN)</a></li>
        <li><a href="#sqr">LSST SQuaRE Technical Notes (SQR)</a></li>
        <li><a href="#tstn">LSST Telescope & Site Technical Notes (TSTN)</a></li>
      </ul>
    </nav>

    <section id="dmtn" class="c-tile-section">
      <h2>LSST Data Management Technical Notes</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['DMTN'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="dmtr" class="c-tile-section">
      <h2>LSST Data Management Test Reports</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['DMTR'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="ittn" class="c-tile-section">
      <h2>LSST IT Technical Notes</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['ITTN'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="ldm" class="c-tile-section">
      <h2>LSST Data Management</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['LDM'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="lpm" class="c-tile-section">
      <h2>LSST Project Management</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['LPM'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="lse" class="c-tile-section">
      <h2>LSST Systems Engineering</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['LSE'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="opstn" class="c-tile-section">
      <h2>LSST Operations Technical Notes</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['OPSTN'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="pstn" class="c-tile-section">
      <h2>LSST Project Science Team Technical Notes</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['PSTN'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="smtn" class="c-tile-section">
      <h2>LSST Simulations Technical Notes</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['SMTN'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="sitcomtn" class="c-tile-section">
      <h2>LSST Systems Integration, Testing, and Commissioning Technical Notes</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['SITCOMTN'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="sqr" class="c-tile-section">
      <h2>LSST SQuaRE Technical Notes</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['SQR'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

    <section id="tstn" class="c-tile-section">
      <h2>LSST Telescope & Site Technical Notes</h2>

      <div class="c-project-tile-grid">
        {# Set header level used for project tiles #}
        {% set current_header_level = 3 %}

        {% for item in datasets['TSTN'] %}
          {% include "_project-tile.jinja" %}
        {% endfor %}
      </div>
    </section>

  </main>
</body>

</html>
