// Comma separated author lists
//
// Turns an unordered list into an inline list with commas between items,
// and an Oxford comma after the last. For a list of two items only " and "
// is inserted.
//
// Based on http://stackoverflow.com/a/6587877


// c-author-list makes a ul an inline list with grammatical comma separated
// items.
.c-author-list {
  display: inline;
  list-style: none;
  margin-left: 0;
}


.c-author-list li {
  display: inline;
}


// Comma after c-author-list items
.c-author-list li:after {
  content: ", ";
}


// No comma after the last item.
.c-author-list li:last-child:after {
  content: "";
}


// For a two item list separate with only " and ".
.c-author-list li:nth-last-child(2):after {
  content: " and ";
}


// For a three or more item list, put an Oxford comma after the second list
// item.
.c-author-list li:nth-last-child(3) ~ li:nth-last-child(2):after {
    content: ", and ";
}
