name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Read .nvmrc
        id: node_version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)

      - name: Set up node
        uses: actions/setup-node@v2.1.1
        with:
          node-version: ${{ steps.node_version.outputs.NODE_VERSION }}

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Install npm packages
        run: npm install .

      - name: Lint
        run: pre-commit run --all-files

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Read .nvmrc
        id: node_version
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)

      - name: Set up node
        uses: actions/setup-node@v2.1.1
        with:
          node-version: ${{ steps.node_version.outputs.NODE_VERSION }}

      - name: Install npm packages
        run: npm install .

      - name: Build Gatsby site
        run: npm run build
